<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.donglan.dao.CountyRoadMapper">
  <resultMap id="BaseResultMap" type="com.donglan.pojo.CountyRoad">
    <id column="FID" jdbcType="INTEGER" property="fid" />
    <result column="CROWID" jdbcType="VARCHAR" property="crowid" />
    <result column="LDBM" jdbcType="VARCHAR" property="ldbm" />
    <result column="LXBM" jdbcType="VARCHAR" property="lxbm" />
    <result column="LXMC" jdbcType="VARCHAR" property="lxmc" />
    <result column="LDXLH" jdbcType="VARCHAR" property="ldxlh" />
    <result column="XZQH" jdbcType="VARCHAR" property="xzqh" />
    <result column="QDMC" jdbcType="VARCHAR" property="qdmc" />
    <result column="QDZH" jdbcType="DOUBLE" property="qdzh" />
    <result column="QDWZ_JD" jdbcType="DOUBLE" property="qdwzJd" />
    <result column="QDWZ_WD" jdbcType="DOUBLE" property="qdwzWd" />
    <result column="QDSFWFJD" jdbcType="INTEGER" property="qdsfwfjd" />
    <result column="QDFJDLB" jdbcType="INTEGER" property="qdfjdlb" />
    <result column="ZDMC" jdbcType="VARCHAR" property="zdmc" />
    <result column="ZDZH" jdbcType="DOUBLE" property="zdzh" />
    <result column="ZDWZ_JD" jdbcType="DOUBLE" property="zdwzJd" />
    <result column="ZDWZ_WD" jdbcType="DOUBLE" property="zdwzWd" />
    <result column="ZDSFWFJD" jdbcType="INTEGER" property="zdsfwfjd" />
    <result column="ZDFJDLB" jdbcType="INTEGER" property="zdfjdlb" />
    <result column="LDJSDJ" jdbcType="INTEGER" property="ldjsdj" />
    <result column="LDLMLX" jdbcType="INTEGER" property="ldlmlx" />
    <result column="LDLC" jdbcType="DOUBLE" property="ldlc" />
    <result column="SJLC" jdbcType="DOUBLE" property="sjlc" />
    <result column="LMKD" jdbcType="DOUBLE" property="lmkd" />
    <result column="LJKD" jdbcType="INTEGER" property="ljkd" />
    <result column="HDSL" jdbcType="INTEGER" property="hdsl" />
    <result column="SFWCFLD" jdbcType="INTEGER" property="sfwcfld" />
    <result column="CF_LXBM" jdbcType="VARCHAR" property="cfLxbm" />
    <result column="CF_LDXLH" jdbcType="VARCHAR" property="cfLdxlh" />
    <result column="CFLDQDZH" jdbcType="REAL" property="cfldqdzh" />
    <result column="SFXZ" jdbcType="INTEGER" property="sfxz" />
    <result column="SFDTL" jdbcType="INTEGER" property="sfdtl" />
    <result column="KLHLC" jdbcType="REAL" property="klhlc" />
    <result column="YLHLC" jdbcType="REAL" property="ylhlc" />
    <result column="YHLC" jdbcType="REAL" property="yhlc" />
    <result column="SFWCGLD" jdbcType="INTEGER" property="sfwcgld" />
    <result column="ZJGJSJ" jdbcType="INTEGER" property="zjgjsj" />
    <result column="JCSJ" jdbcType="INTEGER" property="jcsj" />
    <result column="GYDWDM" jdbcType="VARCHAR" property="gydwdm" />
    <result column="GYDWMC" jdbcType="VARCHAR" property="gydwmc" />
    <result column="BZ" jdbcType="VARCHAR" property="bz" />
    <result column="BGYY" jdbcType="VARCHAR" property="bgyy" />
    <result column="TBDW" jdbcType="VARCHAR" property="tbdw" />
    <result column="TBDWDM" jdbcType="VARCHAR" property="tbdwdm" />
    <result column="DM" jdbcType="INTEGER" property="dm" />
    <result column="SFQYTC" jdbcType="INTEGER" property="sfqytc" />
    <result column="QYTCLC" jdbcType="REAL" property="qytclc" />
    <result column="TZSJ" jdbcType="INTEGER" property="tzsj" />
    <result column="SFYGS" jdbcType="INTEGER" property="sfygs" />
    <result column="CDSL" jdbcType="INTEGER" property="cdsl" />
    <result column="DLLX" jdbcType="INTEGER" property="dllx" />
    <result column="YLXBM" jdbcType="INTEGER" property="ylxbm" />
    <result column="YLCMC" jdbcType="INTEGER" property="ylcmc" />
    <result column="YLDQDZH" jdbcType="INTEGER" property="yldqdzh" />
    <result column="YLDZDZH" jdbcType="INTEGER" property="yldzdzh" />
    <result column="YLDLC" jdbcType="INTEGER" property="yldlc" />
    <result column="YQXZXBJ" jdbcType="INTEGER" property="yqxzxbj" />
    <result column="ZDZP" jdbcType="REAL" property="zdzp" />
    <result column="SJSS" jdbcType="INTEGER" property="sjss" />
    <result column="AADT" jdbcType="INTEGER" property="aadt" />
    <result column="SJCRK" jdbcType="INTEGER" property="sjcrk" />
    <result column="JJDZXND" jdbcType="INTEGER" property="jjdzxnd" />
    <result column="LDMCHD" jdbcType="INTEGER" property="ldmchd" />
    <result column="GSZHYLZH" jdbcType="INTEGER" property="gszhylzh" />
    <result column="LDLWDZHXZD" jdbcType="INTEGER" property="ldlwdzhxzd" />
    <result column="SFAGXGLJY" jdbcType="INTEGER" property="sfagxgljy" />
    <result column="PICTURELIS" jdbcType="VARCHAR" property="picturelis" />
    <result column="XXMC" jdbcType="VARCHAR" property="xxmc" />
    <result column="XMWYBM" jdbcType="VARCHAR" property="xmwybm" />
    <result column="JHXMLXBM" jdbcType="VARCHAR" property="jhxmlxbm" />
    <result column="JHXMLXMC" jdbcType="VARCHAR" property="jhxmlxmc" />
    <result column="SFBCGSXM" jdbcType="INTEGER" property="sfbcgsxm" />
    <result column="LDXMLX" jdbcType="INTEGER" property="ldxmlx" />
    <result column="GHSSNF" jdbcType="INTEGER" property="ghssnf" />
    <result column="GHLJYHLC" jdbcType="INTEGER" property="ghljyhlc" />
    <result column="GHCZDSL" jdbcType="INTEGER" property="ghczdsl" />
    <result column="GHCZDLC" jdbcType="INTEGER" property="ghczdlc" />
    <result column="LMGSLC" jdbcType="DOUBLE" property="lmgslc" />
    <result column="LMGSMJ" jdbcType="INTEGER" property="lmgsmj" />
    <result column="ZCGJMCBM" jdbcType="VARCHAR" property="zcgjmcbm" />
    <result column="ZCGJFWC" jdbcType="VARCHAR" property="zcgjfwc" />
    <result column="ZCGJNKTNF" jdbcType="VARCHAR" property="zcgjnktnf" />
    <result column="LXBH" jdbcType="VARCHAR" property="lxbh" />
    <result column="LXDJHZ" jdbcType="VARCHAR" property="lxdjhz" />
    <result column="LDXZDJ" jdbcType="VARCHAR" property="ldxzdj" />
    <result column="TBDWFZR" jdbcType="VARCHAR" property="tbdwfzr" />
    <result column="TBR" jdbcType="VARCHAR" property="tbr" />
    <result column="TBRDH" jdbcType="VARCHAR" property="tbrdh" />
    <result column="SHR" jdbcType="VARCHAR" property="shr" />
    <result column="SHRDH" jdbcType="VARCHAR" property="shrdh" />
    <result column="CJSJ" jdbcType="TIMESTAMP" property="cjsj" />
    <result column="XGSJ" jdbcType="TIMESTAMP" property="xgsj" />
    <result column="BHCD" jdbcType="VARCHAR" property="bhcd" />
    <result column="CJBJ" jdbcType="VARCHAR" property="cjbj" />
    <result column="SFNRTJ" jdbcType="INTEGER" property="sfnrtj" />
  </resultMap>
  <sql id="Base_Column_List">
    FID, CROWID, LDBM, LXBM, LXMC, LDXLH, XZQH, QDMC, QDZH, QDWZ_JD, QDWZ_WD, QDSFWFJD, 
    QDFJDLB, ZDMC, ZDZH, ZDWZ_JD, ZDWZ_WD, ZDSFWFJD, ZDFJDLB, LDJSDJ, LDLMLX, LDLC, SJLC, 
    LMKD, LJKD, HDSL, SFWCFLD, CF_LXBM, CF_LDXLH, CFLDQDZH, SFXZ, SFDTL, KLHLC, YLHLC, 
    YHLC, SFWCGLD, ZJGJSJ, JCSJ, GYDWDM, GYDWMC, BZ, BGYY, TBDW, TBDWDM, DM, SFQYTC, 
    QYTCLC, TZSJ, SFYGS, CDSL, DLLX, YLXBM, YLCMC, YLDQDZH, YLDZDZH, YLDLC, YQXZXBJ, 
    ZDZP, SJSS, AADT, SJCRK, JJDZXND, LDMCHD, GSZHYLZH, LDLWDZHXZD, SFAGXGLJY, PICTURELIS, 
    XXMC, XMWYBM, JHXMLXBM, JHXMLXMC, SFBCGSXM, LDXMLX, GHSSNF, GHLJYHLC, GHCZDSL, GHCZDLC, 
    LMGSLC, LMGSMJ, ZCGJMCBM, ZCGJFWC, ZCGJNKTNF, LXBH, LXDJHZ, LDXZDJ, TBDWFZR, TBR, 
    TBRDH, SHR, SHRDH, CJSJ, XGSJ, BHCD, CJBJ, SFNRTJ
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from county_road
    where FID = #{fid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from county_road
    where FID = #{fid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.donglan.pojo.CountyRoad">
    insert into county_road (FID, CROWID, LDBM, 
      LXBM, LXMC, LDXLH, 
      XZQH, QDMC, QDZH, QDWZ_JD, 
      QDWZ_WD, QDSFWFJD, QDFJDLB, 
      ZDMC, ZDZH, ZDWZ_JD, ZDWZ_WD, 
      ZDSFWFJD, ZDFJDLB, LDJSDJ, 
      LDLMLX, LDLC, SJLC, LMKD, 
      LJKD, HDSL, SFWCFLD, 
      CF_LXBM, CF_LDXLH, CFLDQDZH, 
      SFXZ, SFDTL, KLHLC, YLHLC, 
      YHLC, SFWCGLD, ZJGJSJ, 
      JCSJ, GYDWDM, GYDWMC, 
      BZ, BGYY, TBDW, TBDWDM, 
      DM, SFQYTC, QYTCLC, TZSJ, 
      SFYGS, CDSL, DLLX, 
      YLXBM, YLCMC, YLDQDZH, 
      YLDZDZH, YLDLC, YQXZXBJ, 
      ZDZP, SJSS, AADT, SJCRK, 
      JJDZXND, LDMCHD, GSZHYLZH, 
      LDLWDZHXZD, SFAGXGLJY, PICTURELIS, 
      XXMC, XMWYBM, JHXMLXBM, 
      JHXMLXMC, SFBCGSXM, LDXMLX, 
      GHSSNF, GHLJYHLC, GHCZDSL, 
      GHCZDLC, LMGSLC, LMGSMJ, 
      ZCGJMCBM, ZCGJFWC, ZCGJNKTNF, 
      LXBH, LXDJHZ, LDXZDJ, 
      TBDWFZR, TBR, TBRDH, 
      SHR, SHRDH, CJSJ, 
      XGSJ, BHCD, CJBJ, 
      SFNRTJ)
    values (#{fid,jdbcType=INTEGER}, #{crowid,jdbcType=VARCHAR}, #{ldbm,jdbcType=VARCHAR}, 
      #{lxbm,jdbcType=VARCHAR}, #{lxmc,jdbcType=VARCHAR}, #{ldxlh,jdbcType=VARCHAR}, 
      #{xzqh,jdbcType=VARCHAR}, #{qdmc,jdbcType=VARCHAR}, #{qdzh,jdbcType=DOUBLE}, #{qdwzJd,jdbcType=DOUBLE}, 
      #{qdwzWd,jdbcType=DOUBLE}, #{qdsfwfjd,jdbcType=INTEGER}, #{qdfjdlb,jdbcType=INTEGER}, 
      #{zdmc,jdbcType=VARCHAR}, #{zdzh,jdbcType=DOUBLE}, #{zdwzJd,jdbcType=DOUBLE}, #{zdwzWd,jdbcType=DOUBLE}, 
      #{zdsfwfjd,jdbcType=INTEGER}, #{zdfjdlb,jdbcType=INTEGER}, #{ldjsdj,jdbcType=INTEGER}, 
      #{ldlmlx,jdbcType=INTEGER}, #{ldlc,jdbcType=DOUBLE}, #{sjlc,jdbcType=DOUBLE}, #{lmkd,jdbcType=DOUBLE}, 
      #{ljkd,jdbcType=INTEGER}, #{hdsl,jdbcType=INTEGER}, #{sfwcfld,jdbcType=INTEGER}, 
      #{cfLxbm,jdbcType=VARCHAR}, #{cfLdxlh,jdbcType=VARCHAR}, #{cfldqdzh,jdbcType=REAL}, 
      #{sfxz,jdbcType=INTEGER}, #{sfdtl,jdbcType=INTEGER}, #{klhlc,jdbcType=REAL}, #{ylhlc,jdbcType=REAL}, 
      #{yhlc,jdbcType=REAL}, #{sfwcgld,jdbcType=INTEGER}, #{zjgjsj,jdbcType=INTEGER}, 
      #{jcsj,jdbcType=INTEGER}, #{gydwdm,jdbcType=VARCHAR}, #{gydwmc,jdbcType=VARCHAR}, 
      #{bz,jdbcType=VARCHAR}, #{bgyy,jdbcType=VARCHAR}, #{tbdw,jdbcType=VARCHAR}, #{tbdwdm,jdbcType=VARCHAR}, 
      #{dm,jdbcType=INTEGER}, #{sfqytc,jdbcType=INTEGER}, #{qytclc,jdbcType=REAL}, #{tzsj,jdbcType=INTEGER}, 
      #{sfygs,jdbcType=INTEGER}, #{cdsl,jdbcType=INTEGER}, #{dllx,jdbcType=INTEGER}, 
      #{ylxbm,jdbcType=INTEGER}, #{ylcmc,jdbcType=INTEGER}, #{yldqdzh,jdbcType=INTEGER}, 
      #{yldzdzh,jdbcType=INTEGER}, #{yldlc,jdbcType=INTEGER}, #{yqxzxbj,jdbcType=INTEGER}, 
      #{zdzp,jdbcType=REAL}, #{sjss,jdbcType=INTEGER}, #{aadt,jdbcType=INTEGER}, #{sjcrk,jdbcType=INTEGER}, 
      #{jjdzxnd,jdbcType=INTEGER}, #{ldmchd,jdbcType=INTEGER}, #{gszhylzh,jdbcType=INTEGER}, 
      #{ldlwdzhxzd,jdbcType=INTEGER}, #{sfagxgljy,jdbcType=INTEGER}, #{picturelis,jdbcType=VARCHAR}, 
      #{xxmc,jdbcType=VARCHAR}, #{xmwybm,jdbcType=VARCHAR}, #{jhxmlxbm,jdbcType=VARCHAR}, 
      #{jhxmlxmc,jdbcType=VARCHAR}, #{sfbcgsxm,jdbcType=INTEGER}, #{ldxmlx,jdbcType=INTEGER}, 
      #{ghssnf,jdbcType=INTEGER}, #{ghljyhlc,jdbcType=INTEGER}, #{ghczdsl,jdbcType=INTEGER}, 
      #{ghczdlc,jdbcType=INTEGER}, #{lmgslc,jdbcType=DOUBLE}, #{lmgsmj,jdbcType=INTEGER}, 
      #{zcgjmcbm,jdbcType=VARCHAR}, #{zcgjfwc,jdbcType=VARCHAR}, #{zcgjnktnf,jdbcType=VARCHAR}, 
      #{lxbh,jdbcType=VARCHAR}, #{lxdjhz,jdbcType=VARCHAR}, #{ldxzdj,jdbcType=VARCHAR}, 
      #{tbdwfzr,jdbcType=VARCHAR}, #{tbr,jdbcType=VARCHAR}, #{tbrdh,jdbcType=VARCHAR}, 
      #{shr,jdbcType=VARCHAR}, #{shrdh,jdbcType=VARCHAR}, #{cjsj,jdbcType=TIMESTAMP}, 
      #{xgsj,jdbcType=TIMESTAMP}, #{bhcd,jdbcType=VARCHAR}, #{cjbj,jdbcType=VARCHAR}, 
      #{sfnrtj,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.donglan.pojo.CountyRoad">
    insert into county_road
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fid != null">
        FID,
      </if>
      <if test="crowid != null">
        CROWID,
      </if>
      <if test="ldbm != null">
        LDBM,
      </if>
      <if test="lxbm != null">
        LXBM,
      </if>
      <if test="lxmc != null">
        LXMC,
      </if>
      <if test="ldxlh != null">
        LDXLH,
      </if>
      <if test="xzqh != null">
        XZQH,
      </if>
      <if test="qdmc != null">
        QDMC,
      </if>
      <if test="qdzh != null">
        QDZH,
      </if>
      <if test="qdwzJd != null">
        QDWZ_JD,
      </if>
      <if test="qdwzWd != null">
        QDWZ_WD,
      </if>
      <if test="qdsfwfjd != null">
        QDSFWFJD,
      </if>
      <if test="qdfjdlb != null">
        QDFJDLB,
      </if>
      <if test="zdmc != null">
        ZDMC,
      </if>
      <if test="zdzh != null">
        ZDZH,
      </if>
      <if test="zdwzJd != null">
        ZDWZ_JD,
      </if>
      <if test="zdwzWd != null">
        ZDWZ_WD,
      </if>
      <if test="zdsfwfjd != null">
        ZDSFWFJD,
      </if>
      <if test="zdfjdlb != null">
        ZDFJDLB,
      </if>
      <if test="ldjsdj != null">
        LDJSDJ,
      </if>
      <if test="ldlmlx != null">
        LDLMLX,
      </if>
      <if test="ldlc != null">
        LDLC,
      </if>
      <if test="sjlc != null">
        SJLC,
      </if>
      <if test="lmkd != null">
        LMKD,
      </if>
      <if test="ljkd != null">
        LJKD,
      </if>
      <if test="hdsl != null">
        HDSL,
      </if>
      <if test="sfwcfld != null">
        SFWCFLD,
      </if>
      <if test="cfLxbm != null">
        CF_LXBM,
      </if>
      <if test="cfLdxlh != null">
        CF_LDXLH,
      </if>
      <if test="cfldqdzh != null">
        CFLDQDZH,
      </if>
      <if test="sfxz != null">
        SFXZ,
      </if>
      <if test="sfdtl != null">
        SFDTL,
      </if>
      <if test="klhlc != null">
        KLHLC,
      </if>
      <if test="ylhlc != null">
        YLHLC,
      </if>
      <if test="yhlc != null">
        YHLC,
      </if>
      <if test="sfwcgld != null">
        SFWCGLD,
      </if>
      <if test="zjgjsj != null">
        ZJGJSJ,
      </if>
      <if test="jcsj != null">
        JCSJ,
      </if>
      <if test="gydwdm != null">
        GYDWDM,
      </if>
      <if test="gydwmc != null">
        GYDWMC,
      </if>
      <if test="bz != null">
        BZ,
      </if>
      <if test="bgyy != null">
        BGYY,
      </if>
      <if test="tbdw != null">
        TBDW,
      </if>
      <if test="tbdwdm != null">
        TBDWDM,
      </if>
      <if test="dm != null">
        DM,
      </if>
      <if test="sfqytc != null">
        SFQYTC,
      </if>
      <if test="qytclc != null">
        QYTCLC,
      </if>
      <if test="tzsj != null">
        TZSJ,
      </if>
      <if test="sfygs != null">
        SFYGS,
      </if>
      <if test="cdsl != null">
        CDSL,
      </if>
      <if test="dllx != null">
        DLLX,
      </if>
      <if test="ylxbm != null">
        YLXBM,
      </if>
      <if test="ylcmc != null">
        YLCMC,
      </if>
      <if test="yldqdzh != null">
        YLDQDZH,
      </if>
      <if test="yldzdzh != null">
        YLDZDZH,
      </if>
      <if test="yldlc != null">
        YLDLC,
      </if>
      <if test="yqxzxbj != null">
        YQXZXBJ,
      </if>
      <if test="zdzp != null">
        ZDZP,
      </if>
      <if test="sjss != null">
        SJSS,
      </if>
      <if test="aadt != null">
        AADT,
      </if>
      <if test="sjcrk != null">
        SJCRK,
      </if>
      <if test="jjdzxnd != null">
        JJDZXND,
      </if>
      <if test="ldmchd != null">
        LDMCHD,
      </if>
      <if test="gszhylzh != null">
        GSZHYLZH,
      </if>
      <if test="ldlwdzhxzd != null">
        LDLWDZHXZD,
      </if>
      <if test="sfagxgljy != null">
        SFAGXGLJY,
      </if>
      <if test="picturelis != null">
        PICTURELIS,
      </if>
      <if test="xxmc != null">
        XXMC,
      </if>
      <if test="xmwybm != null">
        XMWYBM,
      </if>
      <if test="jhxmlxbm != null">
        JHXMLXBM,
      </if>
      <if test="jhxmlxmc != null">
        JHXMLXMC,
      </if>
      <if test="sfbcgsxm != null">
        SFBCGSXM,
      </if>
      <if test="ldxmlx != null">
        LDXMLX,
      </if>
      <if test="ghssnf != null">
        GHSSNF,
      </if>
      <if test="ghljyhlc != null">
        GHLJYHLC,
      </if>
      <if test="ghczdsl != null">
        GHCZDSL,
      </if>
      <if test="ghczdlc != null">
        GHCZDLC,
      </if>
      <if test="lmgslc != null">
        LMGSLC,
      </if>
      <if test="lmgsmj != null">
        LMGSMJ,
      </if>
      <if test="zcgjmcbm != null">
        ZCGJMCBM,
      </if>
      <if test="zcgjfwc != null">
        ZCGJFWC,
      </if>
      <if test="zcgjnktnf != null">
        ZCGJNKTNF,
      </if>
      <if test="lxbh != null">
        LXBH,
      </if>
      <if test="lxdjhz != null">
        LXDJHZ,
      </if>
      <if test="ldxzdj != null">
        LDXZDJ,
      </if>
      <if test="tbdwfzr != null">
        TBDWFZR,
      </if>
      <if test="tbr != null">
        TBR,
      </if>
      <if test="tbrdh != null">
        TBRDH,
      </if>
      <if test="shr != null">
        SHR,
      </if>
      <if test="shrdh != null">
        SHRDH,
      </if>
      <if test="cjsj != null">
        CJSJ,
      </if>
      <if test="xgsj != null">
        XGSJ,
      </if>
      <if test="bhcd != null">
        BHCD,
      </if>
      <if test="cjbj != null">
        CJBJ,
      </if>
      <if test="sfnrtj != null">
        SFNRTJ,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fid != null">
        #{fid,jdbcType=INTEGER},
      </if>
      <if test="crowid != null">
        #{crowid,jdbcType=VARCHAR},
      </if>
      <if test="ldbm != null">
        #{ldbm,jdbcType=VARCHAR},
      </if>
      <if test="lxbm != null">
        #{lxbm,jdbcType=VARCHAR},
      </if>
      <if test="lxmc != null">
        #{lxmc,jdbcType=VARCHAR},
      </if>
      <if test="ldxlh != null">
        #{ldxlh,jdbcType=VARCHAR},
      </if>
      <if test="xzqh != null">
        #{xzqh,jdbcType=VARCHAR},
      </if>
      <if test="qdmc != null">
        #{qdmc,jdbcType=VARCHAR},
      </if>
      <if test="qdzh != null">
        #{qdzh,jdbcType=DOUBLE},
      </if>
      <if test="qdwzJd != null">
        #{qdwzJd,jdbcType=DOUBLE},
      </if>
      <if test="qdwzWd != null">
        #{qdwzWd,jdbcType=DOUBLE},
      </if>
      <if test="qdsfwfjd != null">
        #{qdsfwfjd,jdbcType=INTEGER},
      </if>
      <if test="qdfjdlb != null">
        #{qdfjdlb,jdbcType=INTEGER},
      </if>
      <if test="zdmc != null">
        #{zdmc,jdbcType=VARCHAR},
      </if>
      <if test="zdzh != null">
        #{zdzh,jdbcType=DOUBLE},
      </if>
      <if test="zdwzJd != null">
        #{zdwzJd,jdbcType=DOUBLE},
      </if>
      <if test="zdwzWd != null">
        #{zdwzWd,jdbcType=DOUBLE},
      </if>
      <if test="zdsfwfjd != null">
        #{zdsfwfjd,jdbcType=INTEGER},
      </if>
      <if test="zdfjdlb != null">
        #{zdfjdlb,jdbcType=INTEGER},
      </if>
      <if test="ldjsdj != null">
        #{ldjsdj,jdbcType=INTEGER},
      </if>
      <if test="ldlmlx != null">
        #{ldlmlx,jdbcType=INTEGER},
      </if>
      <if test="ldlc != null">
        #{ldlc,jdbcType=DOUBLE},
      </if>
      <if test="sjlc != null">
        #{sjlc,jdbcType=DOUBLE},
      </if>
      <if test="lmkd != null">
        #{lmkd,jdbcType=DOUBLE},
      </if>
      <if test="ljkd != null">
        #{ljkd,jdbcType=INTEGER},
      </if>
      <if test="hdsl != null">
        #{hdsl,jdbcType=INTEGER},
      </if>
      <if test="sfwcfld != null">
        #{sfwcfld,jdbcType=INTEGER},
      </if>
      <if test="cfLxbm != null">
        #{cfLxbm,jdbcType=VARCHAR},
      </if>
      <if test="cfLdxlh != null">
        #{cfLdxlh,jdbcType=VARCHAR},
      </if>
      <if test="cfldqdzh != null">
        #{cfldqdzh,jdbcType=REAL},
      </if>
      <if test="sfxz != null">
        #{sfxz,jdbcType=INTEGER},
      </if>
      <if test="sfdtl != null">
        #{sfdtl,jdbcType=INTEGER},
      </if>
      <if test="klhlc != null">
        #{klhlc,jdbcType=REAL},
      </if>
      <if test="ylhlc != null">
        #{ylhlc,jdbcType=REAL},
      </if>
      <if test="yhlc != null">
        #{yhlc,jdbcType=REAL},
      </if>
      <if test="sfwcgld != null">
        #{sfwcgld,jdbcType=INTEGER},
      </if>
      <if test="zjgjsj != null">
        #{zjgjsj,jdbcType=INTEGER},
      </if>
      <if test="jcsj != null">
        #{jcsj,jdbcType=INTEGER},
      </if>
      <if test="gydwdm != null">
        #{gydwdm,jdbcType=VARCHAR},
      </if>
      <if test="gydwmc != null">
        #{gydwmc,jdbcType=VARCHAR},
      </if>
      <if test="bz != null">
        #{bz,jdbcType=VARCHAR},
      </if>
      <if test="bgyy != null">
        #{bgyy,jdbcType=VARCHAR},
      </if>
      <if test="tbdw != null">
        #{tbdw,jdbcType=VARCHAR},
      </if>
      <if test="tbdwdm != null">
        #{tbdwdm,jdbcType=VARCHAR},
      </if>
      <if test="dm != null">
        #{dm,jdbcType=INTEGER},
      </if>
      <if test="sfqytc != null">
        #{sfqytc,jdbcType=INTEGER},
      </if>
      <if test="qytclc != null">
        #{qytclc,jdbcType=REAL},
      </if>
      <if test="tzsj != null">
        #{tzsj,jdbcType=INTEGER},
      </if>
      <if test="sfygs != null">
        #{sfygs,jdbcType=INTEGER},
      </if>
      <if test="cdsl != null">
        #{cdsl,jdbcType=INTEGER},
      </if>
      <if test="dllx != null">
        #{dllx,jdbcType=INTEGER},
      </if>
      <if test="ylxbm != null">
        #{ylxbm,jdbcType=INTEGER},
      </if>
      <if test="ylcmc != null">
        #{ylcmc,jdbcType=INTEGER},
      </if>
      <if test="yldqdzh != null">
        #{yldqdzh,jdbcType=INTEGER},
      </if>
      <if test="yldzdzh != null">
        #{yldzdzh,jdbcType=INTEGER},
      </if>
      <if test="yldlc != null">
        #{yldlc,jdbcType=INTEGER},
      </if>
      <if test="yqxzxbj != null">
        #{yqxzxbj,jdbcType=INTEGER},
      </if>
      <if test="zdzp != null">
        #{zdzp,jdbcType=REAL},
      </if>
      <if test="sjss != null">
        #{sjss,jdbcType=INTEGER},
      </if>
      <if test="aadt != null">
        #{aadt,jdbcType=INTEGER},
      </if>
      <if test="sjcrk != null">
        #{sjcrk,jdbcType=INTEGER},
      </if>
      <if test="jjdzxnd != null">
        #{jjdzxnd,jdbcType=INTEGER},
      </if>
      <if test="ldmchd != null">
        #{ldmchd,jdbcType=INTEGER},
      </if>
      <if test="gszhylzh != null">
        #{gszhylzh,jdbcType=INTEGER},
      </if>
      <if test="ldlwdzhxzd != null">
        #{ldlwdzhxzd,jdbcType=INTEGER},
      </if>
      <if test="sfagxgljy != null">
        #{sfagxgljy,jdbcType=INTEGER},
      </if>
      <if test="picturelis != null">
        #{picturelis,jdbcType=VARCHAR},
      </if>
      <if test="xxmc != null">
        #{xxmc,jdbcType=VARCHAR},
      </if>
      <if test="xmwybm != null">
        #{xmwybm,jdbcType=VARCHAR},
      </if>
      <if test="jhxmlxbm != null">
        #{jhxmlxbm,jdbcType=VARCHAR},
      </if>
      <if test="jhxmlxmc != null">
        #{jhxmlxmc,jdbcType=VARCHAR},
      </if>
      <if test="sfbcgsxm != null">
        #{sfbcgsxm,jdbcType=INTEGER},
      </if>
      <if test="ldxmlx != null">
        #{ldxmlx,jdbcType=INTEGER},
      </if>
      <if test="ghssnf != null">
        #{ghssnf,jdbcType=INTEGER},
      </if>
      <if test="ghljyhlc != null">
        #{ghljyhlc,jdbcType=INTEGER},
      </if>
      <if test="ghczdsl != null">
        #{ghczdsl,jdbcType=INTEGER},
      </if>
      <if test="ghczdlc != null">
        #{ghczdlc,jdbcType=INTEGER},
      </if>
      <if test="lmgslc != null">
        #{lmgslc,jdbcType=DOUBLE},
      </if>
      <if test="lmgsmj != null">
        #{lmgsmj,jdbcType=INTEGER},
      </if>
      <if test="zcgjmcbm != null">
        #{zcgjmcbm,jdbcType=VARCHAR},
      </if>
      <if test="zcgjfwc != null">
        #{zcgjfwc,jdbcType=VARCHAR},
      </if>
      <if test="zcgjnktnf != null">
        #{zcgjnktnf,jdbcType=VARCHAR},
      </if>
      <if test="lxbh != null">
        #{lxbh,jdbcType=VARCHAR},
      </if>
      <if test="lxdjhz != null">
        #{lxdjhz,jdbcType=VARCHAR},
      </if>
      <if test="ldxzdj != null">
        #{ldxzdj,jdbcType=VARCHAR},
      </if>
      <if test="tbdwfzr != null">
        #{tbdwfzr,jdbcType=VARCHAR},
      </if>
      <if test="tbr != null">
        #{tbr,jdbcType=VARCHAR},
      </if>
      <if test="tbrdh != null">
        #{tbrdh,jdbcType=VARCHAR},
      </if>
      <if test="shr != null">
        #{shr,jdbcType=VARCHAR},
      </if>
      <if test="shrdh != null">
        #{shrdh,jdbcType=VARCHAR},
      </if>
      <if test="cjsj != null">
        #{cjsj,jdbcType=TIMESTAMP},
      </if>
      <if test="xgsj != null">
        #{xgsj,jdbcType=TIMESTAMP},
      </if>
      <if test="bhcd != null">
        #{bhcd,jdbcType=VARCHAR},
      </if>
      <if test="cjbj != null">
        #{cjbj,jdbcType=VARCHAR},
      </if>
      <if test="sfnrtj != null">
        #{sfnrtj,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.donglan.pojo.CountyRoad">
    update county_road
    <set>
      <if test="crowid != null">
        CROWID = #{crowid,jdbcType=VARCHAR},
      </if>
      <if test="ldbm != null">
        LDBM = #{ldbm,jdbcType=VARCHAR},
      </if>
      <if test="lxbm != null">
        LXBM = #{lxbm,jdbcType=VARCHAR},
      </if>
      <if test="lxmc != null">
        LXMC = #{lxmc,jdbcType=VARCHAR},
      </if>
      <if test="ldxlh != null">
        LDXLH = #{ldxlh,jdbcType=VARCHAR},
      </if>
      <if test="xzqh != null">
        XZQH = #{xzqh,jdbcType=VARCHAR},
      </if>
      <if test="qdmc != null">
        QDMC = #{qdmc,jdbcType=VARCHAR},
      </if>
      <if test="qdzh != null">
        QDZH = #{qdzh,jdbcType=DOUBLE},
      </if>
      <if test="qdwzJd != null">
        QDWZ_JD = #{qdwzJd,jdbcType=DOUBLE},
      </if>
      <if test="qdwzWd != null">
        QDWZ_WD = #{qdwzWd,jdbcType=DOUBLE},
      </if>
      <if test="qdsfwfjd != null">
        QDSFWFJD = #{qdsfwfjd,jdbcType=INTEGER},
      </if>
      <if test="qdfjdlb != null">
        QDFJDLB = #{qdfjdlb,jdbcType=INTEGER},
      </if>
      <if test="zdmc != null">
        ZDMC = #{zdmc,jdbcType=VARCHAR},
      </if>
      <if test="zdzh != null">
        ZDZH = #{zdzh,jdbcType=DOUBLE},
      </if>
      <if test="zdwzJd != null">
        ZDWZ_JD = #{zdwzJd,jdbcType=DOUBLE},
      </if>
      <if test="zdwzWd != null">
        ZDWZ_WD = #{zdwzWd,jdbcType=DOUBLE},
      </if>
      <if test="zdsfwfjd != null">
        ZDSFWFJD = #{zdsfwfjd,jdbcType=INTEGER},
      </if>
      <if test="zdfjdlb != null">
        ZDFJDLB = #{zdfjdlb,jdbcType=INTEGER},
      </if>
      <if test="ldjsdj != null">
        LDJSDJ = #{ldjsdj,jdbcType=INTEGER},
      </if>
      <if test="ldlmlx != null">
        LDLMLX = #{ldlmlx,jdbcType=INTEGER},
      </if>
      <if test="ldlc != null">
        LDLC = #{ldlc,jdbcType=DOUBLE},
      </if>
      <if test="sjlc != null">
        SJLC = #{sjlc,jdbcType=DOUBLE},
      </if>
      <if test="lmkd != null">
        LMKD = #{lmkd,jdbcType=DOUBLE},
      </if>
      <if test="ljkd != null">
        LJKD = #{ljkd,jdbcType=INTEGER},
      </if>
      <if test="hdsl != null">
        HDSL = #{hdsl,jdbcType=INTEGER},
      </if>
      <if test="sfwcfld != null">
        SFWCFLD = #{sfwcfld,jdbcType=INTEGER},
      </if>
      <if test="cfLxbm != null">
        CF_LXBM = #{cfLxbm,jdbcType=VARCHAR},
      </if>
      <if test="cfLdxlh != null">
        CF_LDXLH = #{cfLdxlh,jdbcType=VARCHAR},
      </if>
      <if test="cfldqdzh != null">
        CFLDQDZH = #{cfldqdzh,jdbcType=REAL},
      </if>
      <if test="sfxz != null">
        SFXZ = #{sfxz,jdbcType=INTEGER},
      </if>
      <if test="sfdtl != null">
        SFDTL = #{sfdtl,jdbcType=INTEGER},
      </if>
      <if test="klhlc != null">
        KLHLC = #{klhlc,jdbcType=REAL},
      </if>
      <if test="ylhlc != null">
        YLHLC = #{ylhlc,jdbcType=REAL},
      </if>
      <if test="yhlc != null">
        YHLC = #{yhlc,jdbcType=REAL},
      </if>
      <if test="sfwcgld != null">
        SFWCGLD = #{sfwcgld,jdbcType=INTEGER},
      </if>
      <if test="zjgjsj != null">
        ZJGJSJ = #{zjgjsj,jdbcType=INTEGER},
      </if>
      <if test="jcsj != null">
        JCSJ = #{jcsj,jdbcType=INTEGER},
      </if>
      <if test="gydwdm != null">
        GYDWDM = #{gydwdm,jdbcType=VARCHAR},
      </if>
      <if test="gydwmc != null">
        GYDWMC = #{gydwmc,jdbcType=VARCHAR},
      </if>
      <if test="bz != null">
        BZ = #{bz,jdbcType=VARCHAR},
      </if>
      <if test="bgyy != null">
        BGYY = #{bgyy,jdbcType=VARCHAR},
      </if>
      <if test="tbdw != null">
        TBDW = #{tbdw,jdbcType=VARCHAR},
      </if>
      <if test="tbdwdm != null">
        TBDWDM = #{tbdwdm,jdbcType=VARCHAR},
      </if>
      <if test="dm != null">
        DM = #{dm,jdbcType=INTEGER},
      </if>
      <if test="sfqytc != null">
        SFQYTC = #{sfqytc,jdbcType=INTEGER},
      </if>
      <if test="qytclc != null">
        QYTCLC = #{qytclc,jdbcType=REAL},
      </if>
      <if test="tzsj != null">
        TZSJ = #{tzsj,jdbcType=INTEGER},
      </if>
      <if test="sfygs != null">
        SFYGS = #{sfygs,jdbcType=INTEGER},
      </if>
      <if test="cdsl != null">
        CDSL = #{cdsl,jdbcType=INTEGER},
      </if>
      <if test="dllx != null">
        DLLX = #{dllx,jdbcType=INTEGER},
      </if>
      <if test="ylxbm != null">
        YLXBM = #{ylxbm,jdbcType=INTEGER},
      </if>
      <if test="ylcmc != null">
        YLCMC = #{ylcmc,jdbcType=INTEGER},
      </if>
      <if test="yldqdzh != null">
        YLDQDZH = #{yldqdzh,jdbcType=INTEGER},
      </if>
      <if test="yldzdzh != null">
        YLDZDZH = #{yldzdzh,jdbcType=INTEGER},
      </if>
      <if test="yldlc != null">
        YLDLC = #{yldlc,jdbcType=INTEGER},
      </if>
      <if test="yqxzxbj != null">
        YQXZXBJ = #{yqxzxbj,jdbcType=INTEGER},
      </if>
      <if test="zdzp != null">
        ZDZP = #{zdzp,jdbcType=REAL},
      </if>
      <if test="sjss != null">
        SJSS = #{sjss,jdbcType=INTEGER},
      </if>
      <if test="aadt != null">
        AADT = #{aadt,jdbcType=INTEGER},
      </if>
      <if test="sjcrk != null">
        SJCRK = #{sjcrk,jdbcType=INTEGER},
      </if>
      <if test="jjdzxnd != null">
        JJDZXND = #{jjdzxnd,jdbcType=INTEGER},
      </if>
      <if test="ldmchd != null">
        LDMCHD = #{ldmchd,jdbcType=INTEGER},
      </if>
      <if test="gszhylzh != null">
        GSZHYLZH = #{gszhylzh,jdbcType=INTEGER},
      </if>
      <if test="ldlwdzhxzd != null">
        LDLWDZHXZD = #{ldlwdzhxzd,jdbcType=INTEGER},
      </if>
      <if test="sfagxgljy != null">
        SFAGXGLJY = #{sfagxgljy,jdbcType=INTEGER},
      </if>
      <if test="picturelis != null">
        PICTURELIS = #{picturelis,jdbcType=VARCHAR},
      </if>
      <if test="xxmc != null">
        XXMC = #{xxmc,jdbcType=VARCHAR},
      </if>
      <if test="xmwybm != null">
        XMWYBM = #{xmwybm,jdbcType=VARCHAR},
      </if>
      <if test="jhxmlxbm != null">
        JHXMLXBM = #{jhxmlxbm,jdbcType=VARCHAR},
      </if>
      <if test="jhxmlxmc != null">
        JHXMLXMC = #{jhxmlxmc,jdbcType=VARCHAR},
      </if>
      <if test="sfbcgsxm != null">
        SFBCGSXM = #{sfbcgsxm,jdbcType=INTEGER},
      </if>
      <if test="ldxmlx != null">
        LDXMLX = #{ldxmlx,jdbcType=INTEGER},
      </if>
      <if test="ghssnf != null">
        GHSSNF = #{ghssnf,jdbcType=INTEGER},
      </if>
      <if test="ghljyhlc != null">
        GHLJYHLC = #{ghljyhlc,jdbcType=INTEGER},
      </if>
      <if test="ghczdsl != null">
        GHCZDSL = #{ghczdsl,jdbcType=INTEGER},
      </if>
      <if test="ghczdlc != null">
        GHCZDLC = #{ghczdlc,jdbcType=INTEGER},
      </if>
      <if test="lmgslc != null">
        LMGSLC = #{lmgslc,jdbcType=DOUBLE},
      </if>
      <if test="lmgsmj != null">
        LMGSMJ = #{lmgsmj,jdbcType=INTEGER},
      </if>
      <if test="zcgjmcbm != null">
        ZCGJMCBM = #{zcgjmcbm,jdbcType=VARCHAR},
      </if>
      <if test="zcgjfwc != null">
        ZCGJFWC = #{zcgjfwc,jdbcType=VARCHAR},
      </if>
      <if test="zcgjnktnf != null">
        ZCGJNKTNF = #{zcgjnktnf,jdbcType=VARCHAR},
      </if>
      <if test="lxbh != null">
        LXBH = #{lxbh,jdbcType=VARCHAR},
      </if>
      <if test="lxdjhz != null">
        LXDJHZ = #{lxdjhz,jdbcType=VARCHAR},
      </if>
      <if test="ldxzdj != null">
        LDXZDJ = #{ldxzdj,jdbcType=VARCHAR},
      </if>
      <if test="tbdwfzr != null">
        TBDWFZR = #{tbdwfzr,jdbcType=VARCHAR},
      </if>
      <if test="tbr != null">
        TBR = #{tbr,jdbcType=VARCHAR},
      </if>
      <if test="tbrdh != null">
        TBRDH = #{tbrdh,jdbcType=VARCHAR},
      </if>
      <if test="shr != null">
        SHR = #{shr,jdbcType=VARCHAR},
      </if>
      <if test="shrdh != null">
        SHRDH = #{shrdh,jdbcType=VARCHAR},
      </if>
      <if test="cjsj != null">
        CJSJ = #{cjsj,jdbcType=TIMESTAMP},
      </if>
      <if test="xgsj != null">
        XGSJ = #{xgsj,jdbcType=TIMESTAMP},
      </if>
      <if test="bhcd != null">
        BHCD = #{bhcd,jdbcType=VARCHAR},
      </if>
      <if test="cjbj != null">
        CJBJ = #{cjbj,jdbcType=VARCHAR},
      </if>
      <if test="sfnrtj != null">
        SFNRTJ = #{sfnrtj,jdbcType=INTEGER},
      </if>
    </set>
    where FID = #{fid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.donglan.pojo.CountyRoad">
    update county_road
    set CROWID = #{crowid,jdbcType=VARCHAR},
      LDBM = #{ldbm,jdbcType=VARCHAR},
      LXBM = #{lxbm,jdbcType=VARCHAR},
      LXMC = #{lxmc,jdbcType=VARCHAR},
      LDXLH = #{ldxlh,jdbcType=VARCHAR},
      XZQH = #{xzqh,jdbcType=VARCHAR},
      QDMC = #{qdmc,jdbcType=VARCHAR},
      QDZH = #{qdzh,jdbcType=DOUBLE},
      QDWZ_JD = #{qdwzJd,jdbcType=DOUBLE},
      QDWZ_WD = #{qdwzWd,jdbcType=DOUBLE},
      QDSFWFJD = #{qdsfwfjd,jdbcType=INTEGER},
      QDFJDLB = #{qdfjdlb,jdbcType=INTEGER},
      ZDMC = #{zdmc,jdbcType=VARCHAR},
      ZDZH = #{zdzh,jdbcType=DOUBLE},
      ZDWZ_JD = #{zdwzJd,jdbcType=DOUBLE},
      ZDWZ_WD = #{zdwzWd,jdbcType=DOUBLE},
      ZDSFWFJD = #{zdsfwfjd,jdbcType=INTEGER},
      ZDFJDLB = #{zdfjdlb,jdbcType=INTEGER},
      LDJSDJ = #{ldjsdj,jdbcType=INTEGER},
      LDLMLX = #{ldlmlx,jdbcType=INTEGER},
      LDLC = #{ldlc,jdbcType=DOUBLE},
      SJLC = #{sjlc,jdbcType=DOUBLE},
      LMKD = #{lmkd,jdbcType=DOUBLE},
      LJKD = #{ljkd,jdbcType=INTEGER},
      HDSL = #{hdsl,jdbcType=INTEGER},
      SFWCFLD = #{sfwcfld,jdbcType=INTEGER},
      CF_LXBM = #{cfLxbm,jdbcType=VARCHAR},
      CF_LDXLH = #{cfLdxlh,jdbcType=VARCHAR},
      CFLDQDZH = #{cfldqdzh,jdbcType=REAL},
      SFXZ = #{sfxz,jdbcType=INTEGER},
      SFDTL = #{sfdtl,jdbcType=INTEGER},
      KLHLC = #{klhlc,jdbcType=REAL},
      YLHLC = #{ylhlc,jdbcType=REAL},
      YHLC = #{yhlc,jdbcType=REAL},
      SFWCGLD = #{sfwcgld,jdbcType=INTEGER},
      ZJGJSJ = #{zjgjsj,jdbcType=INTEGER},
      JCSJ = #{jcsj,jdbcType=INTEGER},
      GYDWDM = #{gydwdm,jdbcType=VARCHAR},
      GYDWMC = #{gydwmc,jdbcType=VARCHAR},
      BZ = #{bz,jdbcType=VARCHAR},
      BGYY = #{bgyy,jdbcType=VARCHAR},
      TBDW = #{tbdw,jdbcType=VARCHAR},
      TBDWDM = #{tbdwdm,jdbcType=VARCHAR},
      DM = #{dm,jdbcType=INTEGER},
      SFQYTC = #{sfqytc,jdbcType=INTEGER},
      QYTCLC = #{qytclc,jdbcType=REAL},
      TZSJ = #{tzsj,jdbcType=INTEGER},
      SFYGS = #{sfygs,jdbcType=INTEGER},
      CDSL = #{cdsl,jdbcType=INTEGER},
      DLLX = #{dllx,jdbcType=INTEGER},
      YLXBM = #{ylxbm,jdbcType=INTEGER},
      YLCMC = #{ylcmc,jdbcType=INTEGER},
      YLDQDZH = #{yldqdzh,jdbcType=INTEGER},
      YLDZDZH = #{yldzdzh,jdbcType=INTEGER},
      YLDLC = #{yldlc,jdbcType=INTEGER},
      YQXZXBJ = #{yqxzxbj,jdbcType=INTEGER},
      ZDZP = #{zdzp,jdbcType=REAL},
      SJSS = #{sjss,jdbcType=INTEGER},
      AADT = #{aadt,jdbcType=INTEGER},
      SJCRK = #{sjcrk,jdbcType=INTEGER},
      JJDZXND = #{jjdzxnd,jdbcType=INTEGER},
      LDMCHD = #{ldmchd,jdbcType=INTEGER},
      GSZHYLZH = #{gszhylzh,jdbcType=INTEGER},
      LDLWDZHXZD = #{ldlwdzhxzd,jdbcType=INTEGER},
      SFAGXGLJY = #{sfagxgljy,jdbcType=INTEGER},
      PICTURELIS = #{picturelis,jdbcType=VARCHAR},
      XXMC = #{xxmc,jdbcType=VARCHAR},
      XMWYBM = #{xmwybm,jdbcType=VARCHAR},
      JHXMLXBM = #{jhxmlxbm,jdbcType=VARCHAR},
      JHXMLXMC = #{jhxmlxmc,jdbcType=VARCHAR},
      SFBCGSXM = #{sfbcgsxm,jdbcType=INTEGER},
      LDXMLX = #{ldxmlx,jdbcType=INTEGER},
      GHSSNF = #{ghssnf,jdbcType=INTEGER},
      GHLJYHLC = #{ghljyhlc,jdbcType=INTEGER},
      GHCZDSL = #{ghczdsl,jdbcType=INTEGER},
      GHCZDLC = #{ghczdlc,jdbcType=INTEGER},
      LMGSLC = #{lmgslc,jdbcType=DOUBLE},
      LMGSMJ = #{lmgsmj,jdbcType=INTEGER},
      ZCGJMCBM = #{zcgjmcbm,jdbcType=VARCHAR},
      ZCGJFWC = #{zcgjfwc,jdbcType=VARCHAR},
      ZCGJNKTNF = #{zcgjnktnf,jdbcType=VARCHAR},
      LXBH = #{lxbh,jdbcType=VARCHAR},
      LXDJHZ = #{lxdjhz,jdbcType=VARCHAR},
      LDXZDJ = #{ldxzdj,jdbcType=VARCHAR},
      TBDWFZR = #{tbdwfzr,jdbcType=VARCHAR},
      TBR = #{tbr,jdbcType=VARCHAR},
      TBRDH = #{tbrdh,jdbcType=VARCHAR},
      SHR = #{shr,jdbcType=VARCHAR},
      SHRDH = #{shrdh,jdbcType=VARCHAR},
      CJSJ = #{cjsj,jdbcType=TIMESTAMP},
      XGSJ = #{xgsj,jdbcType=TIMESTAMP},
      BHCD = #{bhcd,jdbcType=VARCHAR},
      CJBJ = #{cjbj,jdbcType=VARCHAR},
      SFNRTJ = #{sfnrtj,jdbcType=INTEGER}
    where FID = #{fid,jdbcType=INTEGER}
  </update>

  <insert id="batchSave" parameterType="collection">
    insert into county_road(FID, CROWID, LDBM, LXBM, LXMC, LDXLH, XZQH, QDMC, QDZH, QDWZ_JD, QDWZ_WD, QDSFWFJD,
    QDFJDLB, ZDMC, ZDZH, ZDWZ_JD, ZDWZ_WD, ZDSFWFJD, ZDFJDLB, LDJSDJ, LDLMLX, LDLC, SJLC,
    LMKD, LJKD, HDSL, SFWCFLD, CF_LXBM, CF_LDXLH, CFLDQDZH, SFXZ, SFDTL, KLHLC, YLHLC,
    YHLC, SFWCGLD, ZJGJSJ, JCSJ, GYDWDM, GYDWMC, BZ, BGYY, TBDW, TBDWDM, DM, SFQYTC,
    QYTCLC, TZSJ, SFYGS, CDSL, DLLX, YLXBM, YLCMC, YLDQDZH, YLDZDZH, YLDLC, YQXZXBJ,
    ZDZP, SJSS, AADT, SJCRK, JJDZXND, LDMCHD, GSZHYLZH, LDLWDZHXZD, SFAGXGLJY, PICTURELIS,
    XXMC, XMWYBM, JHXMLXBM, JHXMLXMC, SFBCGSXM, LDXMLX, GHSSNF, GHLJYHLC, GHCZDSL, GHCZDLC,
    LMGSLC, LMGSMJ, ZCGJMCBM, ZCGJFWC, ZCGJNKTNF, LXBH, LXDJHZ, LDXZDJ, TBDWFZR, TBR,
    TBRDH, SHR, SHRDH, CJSJ, XGSJ, BHCD, CJBJ, SFNRTJ) values
    <foreach collection="list" item="index" separator=",">
      (#{index.fid,jdbcType=INTEGER}, #{index.crowid,jdbcType=VARCHAR}, #{index.ldbm,jdbcType=VARCHAR},
      #{index.lxbm,jdbcType=VARCHAR}, #{index.lxmc,jdbcType=VARCHAR}, #{index.ldxlh,jdbcType=VARCHAR},
      #{index.xzqh,jdbcType=VARCHAR}, #{index.qdmc,jdbcType=VARCHAR}, #{index.qdzh,jdbcType=DOUBLE}, #{index.qdwzJd,jdbcType=DOUBLE},
      #{index.qdwzWd,jdbcType=DOUBLE}, #{index.qdsfwfjd,jdbcType=INTEGER}, #{index.qdfjdlb,jdbcType=INTEGER},
      #{index.zdmc,jdbcType=VARCHAR}, #{index.zdzh,jdbcType=DOUBLE}, #{index.zdwzJd,jdbcType=DOUBLE}, #{index.zdwzWd,jdbcType=DOUBLE},
      #{index.zdsfwfjd,jdbcType=INTEGER}, #{index.zdfjdlb,jdbcType=INTEGER}, #{index.ldjsdj,jdbcType=INTEGER},
      #{index.ldlmlx,jdbcType=INTEGER}, #{index.ldlc,jdbcType=DOUBLE}, #{index.sjlc,jdbcType=DOUBLE}, #{index.lmkd,jdbcType=DOUBLE},
      #{index.ljkd,jdbcType=INTEGER}, #{index.hdsl,jdbcType=INTEGER}, #{index.sfwcfld,jdbcType=INTEGER},
      #{index.cfLxbm,jdbcType=VARCHAR}, #{index.cfLdxlh,jdbcType=VARCHAR}, #{index.cfldqdzh,jdbcType=REAL},
      #{index.sfxz,jdbcType=INTEGER}, #{index.sfdtl,jdbcType=INTEGER}, #{index.klhlc,jdbcType=REAL}, #{index.ylhlc,jdbcType=REAL},
      #{index.yhlc,jdbcType=REAL}, #{index.sfwcgld,jdbcType=INTEGER}, #{index.zjgjsj,jdbcType=INTEGER},
      #{index.jcsj,jdbcType=INTEGER}, #{index.gydwdm,jdbcType=VARCHAR}, #{index.gydwmc,jdbcType=VARCHAR},
      #{index.bz,jdbcType=VARCHAR}, #{index.bgyy,jdbcType=VARCHAR}, #{index.tbdw,jdbcType=VARCHAR}, #{index.tbdwdm,jdbcType=VARCHAR},
      #{index.dm,jdbcType=INTEGER}, #{index.sfqytc,jdbcType=INTEGER}, #{index.qytclc,jdbcType=REAL}, #{index.tzsj,jdbcType=INTEGER},
      #{index.sfygs,jdbcType=INTEGER}, #{index.cdsl,jdbcType=INTEGER}, #{index.dllx,jdbcType=INTEGER},
      #{index.ylxbm,jdbcType=INTEGER}, #{index.ylcmc,jdbcType=INTEGER}, #{index.yldqdzh,jdbcType=INTEGER},
      #{index.yldzdzh,jdbcType=INTEGER}, #{index.yldlc,jdbcType=INTEGER}, #{index.yqxzxbj,jdbcType=INTEGER},
      #{index.zdzp,jdbcType=REAL}, #{index.sjss,jdbcType=INTEGER}, #{index.aadt,jdbcType=INTEGER}, #{index.sjcrk,jdbcType=INTEGER},
      #{index.jjdzxnd,jdbcType=INTEGER}, #{index.ldmchd,jdbcType=INTEGER}, #{index.gszhylzh,jdbcType=INTEGER},
      #{index.ldlwdzhxzd,jdbcType=INTEGER}, #{index.sfagxgljy,jdbcType=INTEGER}, #{index.picturelis,jdbcType=VARCHAR},
      #{index.xxmc,jdbcType=VARCHAR}, #{index.xmwybm,jdbcType=VARCHAR}, #{index.jhxmlxbm,jdbcType=VARCHAR},
      #{index.jhxmlxmc,jdbcType=VARCHAR}, #{index.sfbcgsxm,jdbcType=INTEGER}, #{index.ldxmlx,jdbcType=INTEGER},
      #{index.ghssnf,jdbcType=INTEGER}, #{index.ghljyhlc,jdbcType=INTEGER}, #{index.ghczdsl,jdbcType=INTEGER},
      #{index.ghczdlc,jdbcType=INTEGER}, #{index.lmgslc,jdbcType=DOUBLE}, #{index.lmgsmj,jdbcType=INTEGER},
      #{index.zcgjmcbm,jdbcType=VARCHAR}, #{index.zcgjfwc,jdbcType=VARCHAR}, #{index.zcgjnktnf,jdbcType=VARCHAR},
      #{index.lxbh,jdbcType=VARCHAR}, #{index.lxdjhz,jdbcType=VARCHAR}, #{index.ldxzdj,jdbcType=VARCHAR},
      #{index.tbdwfzr,jdbcType=VARCHAR}, #{index.tbr,jdbcType=VARCHAR}, #{index.tbrdh,jdbcType=VARCHAR},
      #{index.shr,jdbcType=VARCHAR}, #{index.shrdh,jdbcType=VARCHAR}, #{index.cjsj,jdbcType=TIMESTAMP},
      #{index.xgsj,jdbcType=TIMESTAMP}, #{index.bhcd,jdbcType=VARCHAR}, #{index.cjbj,jdbcType=VARCHAR},
      #{index.sfnrtj,jdbcType=INTEGER})
    </foreach>
  </insert>
</mapper>